In [90]:
###### #


inputharfile = "FILENAMED4.har"
outputcsvfile = "test17.csv"

from datetime import datetime 

file = open(inputharfile, encoding='latin1')

testfile = open(outputcsvfile, "w")


##testfile.write("Name" + "; " + "Gender" + "; " + "Date" + "; " + "Time" + "; " + "Total Reactions" + "; " + "Likes" + "; " + "Loves" + "; " + "Wows" + "; " + "Hahas" + "; " + "Sads" + "; " + "Angrys" + "; " + "Cares" + "; " + "Labels" + "; " + "Comments" + "\n")
testfile.write("Name" + "; " + "Gender" + "; " + "Date" + "; " + "Time" + "; " + "Total Reactions" + "; " + "Comments" + "\n")

COMNTS = 0
ctr=0
comment3=""
author="YES"
gender="YES"

C1 = "0"; C2 = "0"; C3 = "0"; C4 = "0"; C5 = "0"; C6 = "0"; C7 = "0"; C8 = "0"; C9 = "0"; C10 = "0"; C11 = "0"; C12 = "0"

for line in file:

        a = line.replace("\\\\\\","###")
        a1 = a.replace("\\\\","##")
        z = a1.replace("\"","#")
        y = z.split('\\')

        w = len(y) -16

        for x in range(w):

            comment3=""

            if y[x]+y[x+4]+y[x+10] == "#id#name#User":
                author1 = y[x+6].replace("##", " \\\\")
                author2 = author1.replace("#", "")

                if author == "NO":

                    testfile.write(C1 + "; " + C2 + "; " + C2a + "; " + C2b + "; " + C3 + "; " + C4 + "; " + C5 + "; " + C6 + "; " + C7 + "; " + C8 + "; " + C9 + "; " + C10 + "; " + C11 + "; " + C12 + "\n" )
                    C4 = "0"; C5 = "0"; C6 = "0"; C7 = "0"; C8 = "0"; C9 = "0"; C10 = "0"; C11="0"; C12 = "0"

                    gender="YES"
                    COMNTS = COMNTS +1

                C1 = author2
                author = "NO"
               
            if y[x]=="#gender":

                g = 0
                
                if y[x+2] =="#NEUTER" :
                    continue                    

                if gender == "NO":
                    continue

                if author == "YES":
                    continue

                if y[x+2] != "#MALE" :
                    g=g+1                    

                if y[x+2] != "#FEMALE" :
                    g=g+1

                if g == 2:
                    continue

                C2 = y[x+2].replace("#", "")

                gender = "NO"

            if y[x] =="#created_time":

                if author == "YES":
                    continue

                timedate1 = y[x+1].replace("#", "")
                timedate2 = timedate1.replace(":","")
                timedate3 = timedate2.replace(",","")
                timedate4 = (datetime.fromtimestamp(int(timedate3)))
                C2a = (timedate4.strftime("%m/%d/%Y"))
                C2b = (timedate4.strftime("%H:%M:%S"))
        
            if y[x]=="#count_reduced":

                if author == "YES":
                    continue

                C3 = y[x+2].replace("#", "")
                
            if y[x]=="#LIKE":
                like1 = y[x-11].replace("#:", "")
                like2 = like1.replace(",", "")

                if author == "YES":
                    continue

                C4 = like2

            if y[x]=="#LOVE":
                love1 = y[x-11].replace("#:", "")
                love2 = love1.replace(",", "")

                if author == "YES":
                    continue

                C5 = love2

            if y[x]=="#WOW":
                wow1 = y[x-11].replace("#:", "")
                wow2 = wow1.replace(",", "")

                if author == "YES":
                    continue

                C6 = wow2

            if y[x]=="#HAHA":
                haha1 = y[x-11].replace("#:", "")
                haha2 = haha1.replace(",", "")

                if author == "YES":
                    continue

                C7 = haha2

            if y[x]=="#SORRY":
                sorry1 = y[x-11].replace("#:", "")
                sorry2 = sorry1.replace(",", "")

                if author == "YES":
                    continue

                C8 = sorry2

            if y[x]=="#ANGER":
                angry1 = y[x-11].replace("#:", "")
                angry2 = angry1.replace(",", "")

                if author == "YES":
                    continue

                C9 = angry2

            if y[x]=="#SUPPORT":
                care1 = y[x-11].replace("#:", "")
                care2 = care1.replace(",", "")

                if author == "YES":
                    continue

                C10 = care2
                
            if y[x]+y[x+1] == "#label#:":

                if y[x+2] + y[x+3] == "##,":
                        continue

                C11 = y[x+2]

            if y[x] == "#text":
                comment1 = y[x+2].replace("##", " \\\\")
                comment2 = comment1.replace("#", "")
                if comment3==comment2:
                    continue
                
                if author == "YES":
                    continue

                C12 = comment2 + "\n"

                comment3=comment2

                #testfile.write(C1 + "; " + C2 + "; " + C2a + "; " + C2b + "; " + C3 + "; " + C4 + "; " + C5 + "; " + C6 + "; " + C7 + "; " + C8 + "; " + C9 + "; " + C10 + "; " + C11 + "; "  + C12)

                testfile.write(C1 + "; " + C2 + "; " + C2a + "; " + C2b + "; " + C3 + "; "  + C12)



                C4 = "0"; C5 = "0"; C6 = "0"; C7 = "0"; C8 = "0"; C9 = "0"; C10 = "0"; C11 ="0"; C12 = "0"

                author="YES"
                gender="YES"
                COMNTS = COMNTS +1


file.close()

testfile.close()


#######################################
## Delete Repetitions

testfile = open(outputcsvfile, "r")

COMENTS = [0]*(COMNTS+1)
x =0

for line in testfile:

    COMENTS[x] = line
    x = x+1
    
for a in range(len(COMENTS)):

    for b in range (len(COMENTS)):

        if COMENTS[a] == COMENTS[b]:

            if a !=b:
                COMENTS[b] = "0"

testfile.close()


########################################
# Final list


testfile = open(outputcsvfile, "w")

for a in range(len(COMENTS)):

    if COMENTS[a] == "0":
        continue

    print(COMENTS[a])

    testfile.write(COMENTS[a])

testfile.close()

FileNotFoundError: [Errno 2] No such file or directory: 'FILENAMED4.har'

In [80]:
import pandas as pd
df3 = pd.read_csv('test16.csv', delimiter=';')
df3.head()

,Name,Gender,Date,Time,Total Reactions,Comments
0,Sadeeq Adam Musa,MALE,12/25/2023,13:09:13,0,Tsohon banza
1,Yanusa Sani Bobo,MALE,12/25/2023,12:13:57,0,Allah yaqara tona Mai asiri
2,Ahmad Rufa'i Isah,MALE,12/25/2023,12:17:57,0,Allah yayi maka abunda kayi Mana mugu azzalumi
3,Dan Autan Danladi Auyo,MALE,12/25/2023,13:47:35,0,Dakai Nake Mai karatu \\nIn sha Allahu Mahai...
4,Abbakar Musa Mohammed Sadiq,MALE,12/25/2023,12:16:25,2,Karya Kakeyi Dan Shegiya Kawai Mijin Uwarka D...

In [81]:
df3.shape

(649, 6)

In [82]:
import pandas as pd
import re

# Specify your input CSV file
input_csv_file = "test16.csv"

# Specify your output CSV file
output_csv_file = "your_output_file16.csv"

# Read the CSV file into a DataFrame using semicolon as the delimiter
df = pd.read_csv(input_csv_file, delimiter=';')

# Print the existing columns in your DataFrame
print("Existing columns:", df.columns)

# Define a regular expression pattern to match "\\uXXXX" where XXXX is a hexadecimal number
pattern = re.compile(r'\\u[0-9a-fA-F]{4}')

# Check if the "Comments" column exists in your DataFrame
if ' Comments' in df.columns:
    # Apply the regular expression to the "Comments" column and replace the matched patterns
    df[' Comments'] = df[' Comments'].replace(pattern, '', regex=True)

    # Save the modified DataFrame to a new CSV file
    df.to_csv(output_csv_file, index=False, sep=';')
    print("Modification complete. Output saved to", output_csv_file)
else:
    print("The 'Comments' column does not exist in the DataFrame.")

Existing columns: Index(['Name', ' Gender', ' Date', ' Time', ' Total Reactions', ' Comments'], dtype='object')
Modification complete. Output saved to your_output_file16.csv

In [83]:
import pandas as pd

# Specify your input CSV file
input_csv_file = "your_output_file16.csv"

# Specify your output CSV file
output_csv_file = "clean16.csv"

# Read the CSV file into a DataFrame using semicolon as the delimiter
df = pd.read_csv(input_csv_file, delimiter=';')

# Check if the "Comments" column exists in your DataFrame
if ' Comments' in df.columns:
    # Remove occurrences of "\\" (double backslash) from the "Comments" column
    df[' Comments'] = df[' Comments'].str.replace(r'\\ \\', '', regex=True)

    # Save the modified DataFrame to a new CSV file
    df.to_csv(output_csv_file, index=False, sep=';')
    print("Modification complete. Output saved to", output_csv_file)
else:
    print("The 'Comments' column does not exist in the DataFrame.")

Modification complete. Output saved to clean16.csv

In [84]:
import pandas as pd

# Specify your input CSV file
input_csv_file = "clean16.csv"

# Specify your output CSV file
output_csv_file = "Filenaname16output.csv"

# Read the CSV file into a DataFrame using semicolon as the delimiter
df = pd.read_csv(input_csv_file, delimiter=';')

# Check if the "Comments" column exists in your DataFrame
if ' Comments' in df.columns:
    # Remove occurrences of "\\n" from the "Comments" column
    df[' Comments'] = df[' Comments'].str.replace(r'\\n', '', regex=True)

    # Save the modified DataFrame to a new CSV file
    df.to_csv(output_csv_file, index=False, sep=';')
    print("Modification complete. Output saved to", output_csv_file)
else:
    print("The 'Comments' column does not exist in the DataFrame.")

Modification complete. Output saved to Filenaname16output.csv

In [85]:
df

,Name,Gender,Date,Time,Total Reactions,Comments
0,Sadeeq Adam Musa,MALE,12/25/2023,13:09:13,0,Tsohon banza
1,Yanusa Sani Bobo,MALE,12/25/2023,12:13:57,0,Allah yaqara tona Mai asiri
2,Ahmad Rufa'i Isah,MALE,12/25/2023,12:17:57,0,Allah yayi maka abunda kayi Mana mugu azzalumi
3,Dan Autan Danladi Auyo,MALE,12/25/2023,13:47:35,0,Dakai Nake Mai karatu \In sha Allahu Mahaifi...
4,Abbakar Musa Mohammed Sadiq,MALE,12/25/2023,12:16:25,2,Karya Kakeyi Dan Shegiya Kawai Mijin Uwarka D...
...,...,...,...,...,...,...
644,Ibrahim Adamu Datti,MALE,12/25/2023,12:20:27,0,Ai dama haka zakace
645,Shuaibu Yusuf,MALE,12/25/2023,13:14:22,0,Ubangidansa yakamata akama danshi yadauremasa...
646,Sheikh Shamsu Adamu Zurmi,MALE,12/25/2023,13:17:16,0,Kowa Zai Fa \i Gobe Kiyama Allah Ka Hana mana...
647,Aminu Aliyu Yarima,MALE,12/25/2023,12:38:16,0,Nigeria
648,Yusuf Ashir,MALE,12/25/2023,12:29:00,0,Karya kake matsiyaci tsinan ne

In [86]:
import langid

def detect_language(text):
    # Detect language using langid
    lang, _ = langid.classify(text)
    return lang

def find_mixed_language_sentences(file_path):
    mixed_language_sentences = []

    with open(file_path, 'r', encoding='utf-8') as text_file:
        lines = text_file.readlines()

    for line in lines:
        line = line.strip()
        if line:
            # Check if the sentence has a mixture of languages
            languages = set(detect_language(word) for word in line.split())
            if len(languages) > 1:
                mixed_language_sentences.append(line)

    return mixed_language_sentences

# Example usage
input_text_file = 'Filenaname16output.csv'
output_mixed_language_sentences_file = 'mixed_language_sentences15.txt'

mixed_language_sentences = find_mixed_language_sentences(input_text_file)

# Save mixed language sentences to a new file
with open(output_mixed_language_sentences_file, 'w', encoding='utf-8') as mixed_language_file:
    mixed_language_file.write('\n'.join(mixed_language_sentences))

print(f'Mixed language sentences detected from {input_text_file}. Saved to {output_mixed_language_sentences_file}.')

Mixed language sentences detected from Filenaname16output.csv. Saved to mixed_language_sentences15.txt.

In [87]:
df=pd.read_csv('mixed_language_sentences15.txt',delimiter=';')

In [88]:
df.head()

,Name,Gender,Date,Time,Total Reactions,Comments
0,Sadeeq Adam Musa,MALE,12/25/2023,13:09:13,0,Tsohon banza
1,Yanusa Sani Bobo,MALE,12/25/2023,12:13:57,0,Allah yaqara tona Mai asiri
2,Ahmad Rufa'i Isah,MALE,12/25/2023,12:17:57,0,Allah yayi maka abunda kayi Mana mugu azzalumi
3,Dan Autan Danladi Auyo,MALE,12/25/2023,13:47:35,0,Dakai Nake Mai karatu In sha Allahu Mahaifiy...
4,Abbakar Musa Mohammed Sadiq,MALE,12/25/2023,12:16:25,2,Karya Kakeyi Dan Shegiya Kawai Mijin Uwarka D...

In [89]:
df

,Name,Gender,Date,Time,Total Reactions,Comments
0,Sadeeq Adam Musa,MALE,12/25/2023,13:09:13,0,Tsohon banza
1,Yanusa Sani Bobo,MALE,12/25/2023,12:13:57,0,Allah yaqara tona Mai asiri
2,Ahmad Rufa'i Isah,MALE,12/25/2023,12:17:57,0,Allah yayi maka abunda kayi Mana mugu azzalumi
3,Dan Autan Danladi Auyo,MALE,12/25/2023,13:47:35,0,Dakai Nake Mai karatu In sha Allahu Mahaifiy...
4,Abbakar Musa Mohammed Sadiq,MALE,12/25/2023,12:16:25,2,Karya Kakeyi Dan Shegiya Kawai Mijin Uwarka D...
...,...,...,...,...,...,...
603,Ibrahim Adamu Datti,MALE,12/25/2023,12:20:27,0,Ai dama haka zakace
604,Shuaibu Yusuf,MALE,12/25/2023,13:14:22,0,Ubangidansa yakamata akama danshi yadauremasa...
605,Sheikh Shamsu Adamu Zurmi,MALE,12/25/2023,13:17:16,0,Kowa Zai Fa i Gobe Kiyama Allah Ka Hana mana ...
606,Aminu Aliyu Yarima,MALE,12/25/2023,12:38:16,0,Nigeria
607,Yusuf Ashir,MALE,12/25/2023,12:29:00,0,Karya kake matsiyaci tsinan ne